<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="./stylesheets/chat.css">
</head>
<body>
    <div class="container">
        <div id="chat-window">
            <ul id="messages"></ul>
        </div>
        <div id="input-container">
            <form id="form" action="">
                <input id="username" placeholder="Username" autocomplete="off" />
                <input id="message" placeholder="Type your message..." autocomplete="off" />
                <button>Send</button>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(function () {
            var socket = io();

            $('form').submit(function () {
                var username = $('#username').val();
                var message = $('#message').val();
                socket.emit('chat message', { username, message });
                $('#message').val('');
                return false;
            });

            socket.on('chat message', function (data) {
                $('#messages').append($('<li>').text(`${data.username}: ${data.message}`));
                // Scroll to the bottom of the chat window
                $('#chat-window').scrollTop($('#chat-window')[0].scrollHeight);
            });
        });
    </script>
</body>
</html>
