<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle's Feeds</title>
    <link href="/stylesheets/feed.css" rel="stylesheet">
</head>
<body>
    
   <header>
     <h1>EAGLE GALLERY</h1>
   </header> 
   
     
   <div class="container">
         
     
         
         
     <div class="box">
                   <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYUZRQbCciUggw1Hqz-IyHjlry7LHa4s_hRA&usqp=CAU" >
                   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYUZRQbCciUggw1Hqz-IyHjlry7LHa4s_hRA&usqp=CAU" alt="image"></a>
               <div class="caption">Golden Eagle</div>
     </div> 
         
    <div class="box">
                   <a href="https://www.shutterstock.com/image-vector/eagle-vector-illustration-art-usa-600nw-2318187367.jpg" >
                   <img src="https://www.shutterstock.com/image-vector/eagle-vector-illustration-art-usa-600nw-2318187367.jpg" alt="image"></a>
               <div class="caption">Blue Eagle </div>
     </div> 
       
         
   <div class="box">
                   <a href="https://static.vecteezy.com/system/resources/previews/024/092/219/non_2x/aggressive-black-and-red-eagle-generative-ai-photo.jpeg" >
                   <img src="https://static.vecteezy.com/system/resources/previews/024/092/219/non_2x/aggressive-black-and-red-eagle-generative-ai-photo.jpeg" alt="image"></a>
               <div class="caption">Red Eagle </div>
     </div> 
         
   
                     
   
</body>
</html>